<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Home</title>
  </head>
  <body bgcolor="#ffffff">
    <p align="center">Welcome to my Django recipe project</p>
    <center>
      <table border="0" width="70%" cellspacing="0">
        <tbody>
          <tr>
            <td>
              This is where all of the recipes will show up! This page is within
              the 'recipes' app.
            </td>
            <td>On this side there may be a search bar to query later.</td>
          </tr>
          <tr>
            <td>
              <p>For example, this is where the recipe list will start.</p>
              <ul>
                <li>Recipe item 1</li>
                <li>Recipe item 2</li>
                <li>Recipe item 3</li>
                <li>Recipe item 4</li>
                <li>Recipe item 5</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
  </body>
</html>
